{% extends 'shop/basic.html' %}
{% block title %}Edit Profile | {{ block.super }}{% endblock %}
{% block body %}
<div class="container my-3">
  <div class="row">
    <div class="col-md-5">

      {% if request.user.profile.photo %}
      <img src="{{ request.user.profile.photo.url }}" width="400px" height="540px">
      {% else %}
      <img src="/media/blog/Profile/default-avatar.png" width="400px" height="540px">
      {% endif %}
    </div>
    <div class="col-md-7">
      <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Save Changes" class="btn btn-outline-success">
      </form>
    </div>
  </div>
</div>
{% endblock %}
