{% extends 'shop/basic.html' %}

{% block title %} about title {% endblock %}

{% block body %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">EBuyZone</h1>
            <p>EBuyZone is an Pakistani e-commerce company based in Lahore, Pakistan. It was founded by Sachin Bansal and Binny Bansal in 2007. The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials & groceries, and lifestyle products.

                The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal. As of March 2017, EBuyZone held a 39.5% market share of India's e-commerce industry. EBuyZone is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones. EBuyZone also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Google</h2>
                <p>Larry and Sergey met at Stanford’s PhD program in 1995, but they did not instantly become friends. 

                    During a campus tour for doctoral students, Brin was Page’s guide-- and they bickered the entire time.  Despite their quarrel, the two found themselves working on a research project together.  Their paper, “The Anatomy of a Large-Scale Hypertextual Web Search Engine,” became the basis for Google. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Microsoft</h2>
                <p>Bill Gates and Paul Allen were childhood friends from Lakeside private school. 
                    They shared a love of computers and were hacker partners-in-crime during high school.
                    Once Gates left for Harvard, Allen followed him to the Boston-area and they began plotting business ideas.  With Allen's encouragement, Gates took the plunge, dropped out of college, and created Microsoft.  Their billion dollar company spun out of a nerdy. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Apple Inc</h2>
                <p> The two Steves became friends at a summer job in 1970.  Woz was busy building a computer, and Steve Jobs saw the potential to sell it. 

                    In a 2006 interview with the Seattle Times, Woz explained, "I was just doing something I was very good at, and the thing that I was good at turned out to be the thing that was going to change the world...Steve [Jobs] was much more further-thinking. When I designed good things.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

{% endblock %}